# Coverage.py is a tool for measuring code coverage of Python programs.
# for more info: https://coverage.readthedocs.io/en/latest/config.html
[run]
omit =
    simple_gh_aws_creds/docs/*
    simple_gh_aws_creds/tests/*
    simple_gh_aws_creds/vendor/*
    simple_gh_aws_creds/_version.py
    simple_gh_aws_creds/cli.py
    simple_gh_aws_creds/paths.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
